/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* general */
body {
  font-family: 'Lato', sans-serif;
}


/* utilities */

.d-flex {
  display: flex;
}


/* header */

header {
  height: 75px;
  background-color: #000000;

}

