/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* general */
body {
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  background-color: #000000;
}

.container {
    width: 85%;
    max-width: 1006px;
    margin: 10px auto;
}

img {
  width: 100%;
}


/* utilities */

.d-flex {
  display: flex;
}


/* header */

header {
  height: 65px;
  background-color: #000000;
  position: relative;
  font-size: 0.9rem;
}

header nav ul {
  cursor: pointer;
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 15px;
  padding-right: 20px;
}

header nav ul li {
  margin-left: 10px;
  display: inline-block;
  background-color: #4A4A4A;
  padding: 8px;
  border-radius: 8px;
}


/* header */

main {
  height: calc(100vh - 65px);
  overflow: auto;
}

main .user {
  position: relative;
  display: inline-block;
  margin: 10px 2px;
  width: 245px;
}

main .user .badge {
  background-color: #687481a4;
  width: 100px;
  position: absolute;
  bottom: 3px;
  left: 0;
}


/* footer */


footer {
  height: 75px;
  background-color: #222222;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer .icons {
  cursor: pointer;
} 

footer span {
  display: block;
  font-size: 0.8rem;
  margin: 0 15px;
}

footer .icons .active:active {
  color: #4AC902;
}

footer .fa-solid.fa-chevron-up {
  font-size: 0.6rem;
  margin: 0 10px; 
  position: relative;
  top: 15px;
}

footer .fa-solid {
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.icons i {
  margin: 0 15px;
}

.icons.stop i {
  position: relative;
  left: 20px;
}

.icons.manage i {
  position: relative;
  left: 45px;
}

.icons.polling i {
  position: relative;
  left: 10px;
}

.icons.share i {
  position: relative;
  left: 20px;
}


.icons.chat i {
  position: relative;
  left: 5px;
}

.icons.record i {
  position: relative;
  left: 10px;
}

.icons.breakout i {
  position: relative;
  left: 35px;
}

.icons.more i {
  position: relative;
  left: 5px;
}

footer .right .end {
  cursor: pointer;
  display: inline-block;
  height: 75px;
  width: 110px;
  line-height: 75px;
  text-align: center;
  margin-right: 0;
}


footer .right .end.active:active {
  color: #EC100A;
  background-color: #4A4A4A;
}